<div class="store-container">
  <h2 class="title">Productos disponibles</h2>

  <div class="grid">
    <div class="card" *ngFor="let product of paginatedProducts">
      <div class="card-body">
        <h3>{{ product.nombre }}</h3>
        <p class="desc">{{ product.descripcion }}</p>
        <p class="price">${{ product.precio | number:'1.0-0' }}</p>
        <p class="stock">Stock: {{ product.stock }}</p>
        <button class="buy-btn" (click)="addToCart(product)">Añadir al carrito</button>
      </div>
    </div>
  </div>
  <div class="pagination-controls">
    <button (click)="changePage(-1)" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button (click)="changePage(1)" [disabled]="currentPage === totalPages">Siguiente</button>
  </div>
</div>
